img.emoticon {
    width: 18px;
    height: 24px;
}

div#logout,#smpchtnightmode, #smpchtautoscroll {
    color: var(--text);
    background-color:var(--mainco); 	
    border: solid 1px var(--accentco);
    box-shadow: inset 1px 1px 2px 0 var(--secndco);	
    line-height:50%;

}

div#smpchtautoscroll:hover {
 	background-color:var(--text);
 	color: var(--mainco);
 }
  
div#smpchtnightmode:hover {
 	background-color:var(--text);
 	color: var(--mainco);
 }
 
div#logout:hover {
 	background-color:var(--text);
 	color: var(--mainco);
 }
 
div.smpchtnightmode {
    font-size: 90%;
    position: absolute;
    right: 69px;
    top:4px;
    padding:8px;
    margin-right: 10px;
    z-index: 2;
    cursor: pointer;
}

div.smpchtautoscroll {
    font-size: 90%;
    position: absolute;
    right: 159px;
    top:4px;
    padding:8px;
    margin-right: 10px;
    z-index: 2;
    cursor: pointer;
}

div.logout {
    font-size: 90%;
    position: absolute;
    right: 2px;
    top:4px;
    padding:8px;
    margin-right: 10px;
    z-index: 2;
    cursor: pointer;
}

input[type=text] {
    width: 1350px;
}

input[type=submit] {
    width: 142px;
}

#chat_entry
{
    padding-right:20px;
}