/*CSS Angaben, die speziell für die chat.php notwendig sind.*/
img.emoticon {
    width: 18px;
    height: 24px;
}

div#logout,#smpchtnightmode, #smpchtautoscroll {
    color: var(--text);                                                         /*Auch hier werden die Variablen vom dayStyle und nightStyle verwendet.*/
    background-color: var(--mainco); 	
    border: solid 1px var(--accentco);
    box-shadow: inset 1px 1px 2px 0 var(--secndco);	
    line-height:50%;

}

div#smpchtautoscroll:hover {                                                    /*Das tritt in kraft, wenn die Maus über den div-Elementen ist, die als Button verwendet werden.*/
    background-color:var(--text);
    color: var(--mainco);
 }
  
div#smpchtnightmode:hover {
    background-color:var(--text);
    color: var(--mainco);
 }
 
div#logout:hover {
    background-color:var(--text);
    color: var(--mainco);
 }
 
div#smpchterrorbutton:hover {
    background-color:var(--text);
    color: var(--mainco);
 }
 
div.smpchtnightmode {                                                           /*Das CSS für die div-Elemente, die als Button benutzt werden*/
    font-size: 90%;
    position: absolute;
    right: 69px;
    top:4px;
    padding:8px;
    margin-right: 10px;
    z-index: 2;
    cursor: pointer;
}

div.smpchtautoscroll {
    font-size: 90%;
    position: absolute;
    right: 164px;
    top:4px;
    padding:8px;
    margin-right: 10px;
    z-index: 2;
    cursor: pointer;
}

div.logout {
    font-size: 90%;
    position: absolute;
    right: 2px;
    top:4px;
    padding:8px;
    margin-right: 10px;
    z-index: 2;
    cursor: pointer;
}

div.smpchterrorbutton {
    font-size: 90%;
    float: right;
    position: relative;
    right: 4px;
    top:4px;
    cursor: pointer;
}

input[type=text] {                                                              /*CSS für Eingabefelder.*/
    width: 1350px;
}

input[type=submit] {
    width: 142px;
}

#chat_entry
{
    padding-right:20px;
}