/*Die definition der Variablen für CSS im dayStyle.*/
:root {
    --mainco: #FFFFFF;      /*Hauptfarbe, für den Hintergrund*/
    --secndco: #EEEEEE;     /*Zweitfarbe für den Hintergrund*/
    --accentco: #FF0000;    /*Farbe für Akzente*/
    --text: #333333;        /*Farbe für den Text*/
}
