/*Die definition der Variablen für CSS im dayStyle.*/
:root {
    --mainco: #FFFFFF;      /*var(--mainco)*/
    --secndco: #EEEEEE;     /*var(--secndco)*/
    --accentco: #FF0000;    /*var(--accentco)*/
    --text: #333333;        /*var(--text)*/
}
