/*Die definition der Variablen für CSS im nightStyle.*/
:root {
    --mainco: #222222;      /*Hauptfarbe, für den Hintergrund*/
    --secndco: #333333;     /*Zweitfarbe für den Hintergrund*/
    --accentco: #cc0000;    /*Farbe für Akzente*/
    --text: #aaaaaa;        /*Farbe für den Text*/
}
