/* Die Variablen für den Nacht Stil*/
:root {
	--mainco: #222222; 		/*var(--mainco)*/
	--secndco: #333333;		/*var(--secndco)*/
	--accentco: #cc0000; 	/*var(--accentco)*/
	--test: #00ff00; 		/*var(--test)*/
	--text: #666666; 		/*var(--text)*/
	}